.cards_area{
  width: 95%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cardcont1{
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cardcont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.p_button{
  height: 40px;
  width: 40px;
  color: white;
  border-width: 0.5px;
  border-color: rgb(32, 32, 65);
  background-color: rgb(32, 32, 65);
  border-radius: 50%;
  font-size: 24px;
}
.p_button:hover{
  background-color: rgb(29, 29, 170);
  /* transform: scale(1.03); */
}

.p_btn_area{
  margin: 10px 0 10px 0; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.one_button{
  width: 21px;
  height: 21px;
  margin: 0 3px 0 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  border-radius: 50%;
  font-size: 12px;
}
.inactive{
  border-color: rgb(32, 32, 65);
  background-color: rgb(37, 37, 61);
}
.active{
  background-color: rgb(170, 29, 158);
  border-color: rgb(12, 12, 19);
  transform: scale(1.03);
}

.one_button:hover{
  background-color: rgb(29, 29, 170);
  transform: scale(1.03);
}

.perpage_label{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  padding-right: 6px;
}
.perpage{
  width: 33px;

  color: rgb(100, 100, 100);

}